In [1]:
import pandas as pd

In [2]:
albums = pd.read_html('https://www.officialcharts.com/chart-news/'
                      'the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', 
                      header=0)

albums_df = albums[0]
albums_df.head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

### Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']

In [3]:
albums_df.rename(columns={'TITLE': 'TYTUŁ', 'ARTIST': 'ARTYSTA', 
                       'YEAR':'ROK', 'HIGH POSN': 'MAX POZ'}, inplace=True)

In [4]:
albums_df['ARTYSTA'].nunique()

47

In [5]:
albums_df['ARTYSTA'].value_counts()

COLDPLAY                    3
TAKE THAT                   3
BEATLES                     2
ADELE                       2
ROBBIE WILLIAMS             2
DIDO                        2
ABBA                        2
QUEEN                       2
FLEETWOOD MAC               2
ORIGINAL SOUNDTRACK         2
MICHAEL JACKSON             2
AMY WINEHOUSE               1
DIRE STRAITS                1
TRAVIS                      1
JAMES BLUNT                 1
TRACY CHAPMAN               1
SIMON & GARFUNKEL           1
LEONA LEWIS                 1
DAVID GRAY                  1
ALANIS MORISSETTE           1
GEORGE MICHAEL              1
REM                         1
SHANIA TWAIN                1
U2                          1
EMINEM                      1
LADY GAGA                   1
NORAH JONES                 1
CORRS                       1
MICHAEL BUBLE               1
ORIGINAL CAST RECORDING     1
SCISSOR SISTERS             1
BOB MARLEY & THE WAILERS    1
OASIS                       1
MADONNA                     1
ED SHEERAN                  1
SIMPLY RED                  1
PAUL SIMON                  1
SPICE GIRLS                 1
PINK FLOYD                  1
KINGS OF LEON               1
MIKE OLDFIELD               1
MEAT LOAF                   1
VERVE                       1
KEANE                       1
PHIL COLLINS                1
SNOW PATROL                 1
JEFF WAYNE                  1
Name: ARTYSTA, dtype: int64

### Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [6]:
albums_df.rename(str.title, axis='columns', inplace=True)
albums_df.head()

   Pos                                 Tytuł  Artysta   Rok  Max Poz
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

### Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [7]:
albums_df.drop('Max Poz', axis=1, inplace=True)
albums_df.head()

   Pos                                 Tytuł  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

In [8]:
albums_df['Rok'].value_counts()

1987    4
2000    4
2004    3
1997    3
2006    3
1998    3
1977    3
1992    2
1995    2
1973    2
2008    2
1991    2
2002    2
2005    2
1975    1
2015    1
2014    1
1981    1
1967    1
1965    1
1978    1
1970    1
2010    1
2011    1
1984    1
2009    1
2007    1
1985    1
2003    1
2001    1
1999    1
1996    1
1990    1
1989    1
1988    1
1986    1
1982    1
Name: Rok, dtype: int64

In [9]:
albums_df[(albums_df['Rok'] >= 1960) & (albums_df['Rok'] <= 1990)].count()

Pos        22
Tytuł      22
Artysta    22
Rok        22
dtype: int64

In [10]:
albums_df['Rok'].max()

2015

### Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [11]:
first_albums = albums_df.sort_values(by='Rok').groupby('Artysta').first().drop('Pos', axis=1)
first_albums.head()

                                                  Tytuł   Rok
Artysta
ABBA                                      GREATEST HITS  1975
ADELE                                                21  2011
ALANIS MORISSETTE                    JAGGED LITTLE PILL  1995
AMY WINEHOUSE                             BACK TO BLACK  2006
BEATLES            SGT PEPPER'S LONELY HEARTS CLUB BAND  1967

### Listę zapisz do pliku csv

In [12]:
first_albums.to_csv('firstAlbums.csv')

## Odpowiedzi
<b>Ilu pojedynczych artystów znajduje się na liście?</b><br>
47<br>
<b>Które zespoły pojawiają się najczęściej na liście?</b><br>
COLDPLAY oraz TAKE THAT - każdy po 3 razy<br>
<b>W którym roku wyszło najwięcej albumów znajdujących się na liście?</b><br>
W 1987 oraz w 2000 - w każdym z nic po 4 albumy
<b>Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?</b><br>
22<br>
<b>W którym roku wydany został najmłodszy album na liście?</b><br>
2015<br>